@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Lato|Peddana');

h1, h2, h3, .page-title  {
    font-family: 'IM Fell English SC', serif;
}

p, li {
    font-family: Lato;
}

#header {
    border-bottom: 1px solid gray;
}

#footer {
    border-top: 1px solid gray;
}