div.page {
    margin-left: 1in;
}

div.col {
    width: 5in;
    float: left;
    padding: 1rem;
    line-height: 150%;
    /* font-family: Arial, Helvetica, sans-serif; */
}

div.col.spa {
    width: 7in;
}

.num {
    display: none;
}

.pnum {
    display: none;
    color: grey;
    float: left;
}

.note {
    display: none;
    float:right;
    color: gray;
}

.rs {
    color: red;
    font-weight: bold;
}

.pb {
    margin: 1rem 0 0 0;
    padding-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* .pc {} */

/* .lb {} */

.lb-num {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    color: lightblue;
    margin-right: 1rem; 
    text-align: right;
    width: 20px;
}

.lb-num.hanging {
    margin-right: 2rem;
}

.lb-num.indent {
    margin-right: 2rem;
}

.large {
    font-size: 110%;
    font-weight: bold;
}

.very-large {
    font-size: 150%;
    font-weight: bold;
}

.del {
    text-decoration: line-through; 
}

.corr {
    background-color: lightgreen;
}

.pilcrow {
    color: grey;
    float: left;
}

