@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Peddana');

h1, h2, h3 {
    font-family: 'IM Fell English SC', serif;
  }

  p {
    font-family: serif;
    font-size: 14pt;
  }

  button.pb {
    font-family: sans-serif;
    padding: 0 .5rem;
    margin: .5rem;
  }

  div.quc button.pb {
    float: left;
    margin-left: -1in;
  }

  div.spa button.pb {
    float: right;
    margin-right: -1in;
  }

  .note {
    clear: both;
    font-family: sans-serif;
    font-size: 90%;
    max-width: 1.5in;
    padding: .5rem 0;
    color: charcoal;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }

  div.col {
    overflow: scroll;
    height: 8in;
  }

  div.col.quc .note {
    float: left;
    padding-right: .5rem;
    margin-right: .5rem;
  }

  div.col.spa .note {
    float: right;
    padding-left: .5rem;
    margin-left: .5rem;
  }

  .pnum {
    display: none;
    color: grey;
    float: left;
}

.rs {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.pb a {
    font-family: Arial, Helvetica, sans-serif;
}

.pc {
    display: none;
}

.del {
    text-decoration: line-through; 
}

.hi {
    font-weight: bold;
    display: inline;
}

.hi.superscript {
    font-weight: normal;
    display: inline;
    vertical-align: super;
    font-size: 80%;
}

.note.editor {
    /* display: none; */
    background-color: beige;
}

#topic-list {
    display:  none;
}

.topic-description img {
    max-height: 100px;  
}

/*
.topic-entry {
    border-top: 1px solid gray;
    width: 400px;
}

.topic-entry h2 {
    font-family: Arial, Helvetica, sans-serif;
}
*/

/* PREVIOUS VERSION */

/*
h1, h2, h3 {
    font-family: 'IM Fell English SC', serif;
}

a.btn-info {
    color: white;
    text-decoration: none;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
}


div.page {
    margin-left:1in;
    background-color: blanchedalmond;
}

div.col {
    width: 5in;
    padding: 1rem;
    font-family: sans-serif;
    height: 8in;
    float: left;
    overflow: scroll;
}


div.col.quc {
    padding-left: 2in;
}

div.col.spa {
    padding-right: 2in;
}


p {
    line-height: 150%;
    margin: 1rem 0;

}

.num {}

.pnum {
    display: none;
    color: grey;
    float: left;
}


.note {
    float:left;
    clear: both;
    background: lightgray;
    padding: .5rem;
    margin: .5rem;
    margin-left: -2in;
    text-align: center;
}

div.col.spa .note {
    float:right;
    margin-right: -2in;
}

.rs {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.pb a {
    font-family: Arial, Helvetica, sans-serif;
}

.pc {
    display: none;
}

.lb {
    font-size: 80%;
    vertical-align: super;
}

.large {
    font-size: 110%;
}

.del {
    text-decoration: line-through; 
}

.hi {
    font-weight: bold;
    display: inline;
}

.hi.superscript {
    font-weight: normal;
    display: inline;
    vertical-align: super;
    font-size: 80%;
}

.note.editor {
    display: none;
}

.pb {
    float: right;
    padding: 5px;
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

#topic-list {
    display:  none;
}

.topic-description img {
    max-height: 100px;  
}

.topic-entry {
    border-top: 1px solid gray;
    width: 400px;
}

.topic-entry h2 {
    font-family: Arial, Helvetica, sans-serif;
}
*/