@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Peddana');

h1, h2, h3, .navbar {
    font-family: 'IM Fell English SC', serif;
}

h1 {
    font-size: 18pt;
}

h2 {
    font-size: 16pt;
}

div.col {
    height: 20in; /* Won't scroll unless given an actual length, i.e. % does nto nwork */
    overflow: scroll;
}

p {
    font-family: sans-serif;
    font-size: 14pt;
}

.modal-content p {
    font-family: serif;
}

.pb {
    font-family: sans-serif;
    padding: .25rem .5rem;
    margin: .5rem;
}

div.quc .pb {
    float: left;
    
}

div.quc p .pb {
    margin-left: -1in;
}

div.spa .pb {
    float: right;
}

div.spa p .pb {
    margin-right: -1in;
}

div.quc p {
    margin-left: 2in;
}

div.spa p {
    margin-right: 2in;
}

.note {
    clear: both;
    font-family: sans-serif;
    font-size: 90%;
    max-width: 1.5in;
    padding: .5rem 0;
    color: charcoal;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

div.col.quc .note {
    float: left;
    padding-right: .5rem;
    margin-right: .5rem;
}

div.col.quc p .note {
    margin-left: -1in;
}

div.col.spa .note {
    float: right;
    padding-left: .5rem;
    margin-left: .5rem;
}

div.spa.quc p .note {
    margin-right: -1in;
}

.note.editor {
    display: none;
    /* background-color: beige; */
}

.pnum {
    display: none;
    color: grey;
    float: left;
}

.rs {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

/*
.pb a {
    font-family: Arial, Helvetica, sans-serif;
}
*/

.pc {
    display: none;
}

.del {
    text-decoration: line-through; 
}

.hi {
    font-weight: bold;
    display: inline;
}

.hi.superscript {
    font-weight: normal;
    display: inline;
    vertical-align: super;
    font-size: 80%;
}

.hi.underline {
    font-weight: normal;
    text-decoration: underline;
}

#topic-list, #annotation-list {
    display:  none;
}

.topic-description img {
    max-height: 100px;  
}

.annotation-icon {
    color: green;
    /* font-size: 24pt; */
}

.annotation-author {
    float: right;
}

/*
#header {
    padding-left: 2rem;
    display: block;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
*/

.navbar {
    padding-left: 2in;
}

#footer {
    display: block;
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
}

/* PREVIOUS VERSION */

/*
h1, h2, h3 {
    font-family: 'IM Fell English SC', serif;
}

a.btn-info {
    color: white;
    text-decoration: none;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
}


div.page {
    margin-left:1in;
    background-color: blanchedalmond;
}

div.col {
    width: 5in;
    padding: 1rem;
    font-family: sans-serif;
    height: 8in;
    float: left;
    overflow: scroll;
}


div.col.quc {
    padding-left: 2in;
}

div.col.spa {
    padding-right: 2in;
}


p {
    line-height: 150%;
    margin: 1rem 0;

}

.num {}

.pnum {
    display: none;
    color: grey;
    float: left;
}


.note {
    float:left;
    clear: both;
    background: lightgray;
    padding: .5rem;
    margin: .5rem;
    margin-left: -2in;
    text-align: center;
}

div.col.spa .note {
    float:right;
    margin-right: -2in;
}

.rs {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.pb a {
    font-family: Arial, Helvetica, sans-serif;
}

.pc {
    display: none;
}

.lb {
    font-size: 80%;
    vertical-align: super;
}

.large {
    font-size: 110%;
}

.del {
    text-decoration: line-through; 
}

.hi {
    font-weight: bold;
    display: inline;
}

.hi.superscript {
    font-weight: normal;
    display: inline;
    vertical-align: super;
    font-size: 80%;
}

.note.editor {
    display: none;
}

.pb {
    float: right;
    padding: 5px;
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

#topic-list {
    display:  none;
}

.topic-description img {
    max-height: 100px;  
}

.topic-entry {
    border-top: 1px solid gray;
    width: 400px;
}

.topic-entry h2 {
    font-family: Arial, Helvetica, sans-serif;
}
*/