<!DOCTYPE html>
<html>
<head>
    <title>{{site_title}} | {{page_title}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-store" />
    <!-- STTYLES -->
    {% block styles %}{% for style in styles %}
    <link rel="stylesheet" type="text/css" href="{{style.href}}" integrity="{{style.integrity}}" crossorigin="{{style.crossorigin}}">
    {% endfor %}{% endblock %}
</head>
<body>
    <!-- CONTENT -->
    {% block content %}{% endblock %}

    <!-- SCRIPTS -->
    {% block scripts %}{% for script in scripts %}<script src="{{script.src}}" integrity="{{script.integrity}}" crossorigin="{{script.crossorigin}}"></script>
    {% endfor %}{% endblock %}
</body>    
</html>
    