<!DOCTYPE html>
<html>
    <head>
        <title>{{page_title}}</title>
        <meta charset="UTF-8">
        {% block scripts %}
        {% for script in scripts %}
        <script src="{{script.src}}"
                integrity="{{script.integrity}}"
                crossorigin="{{script.crossorigin}}"></script>
        {% endfor %}
        {% endblock %}
        {% block styles %}
        {% for style in styles %}
        <link rel="stylesheet" type="text/css"
              href="{{style.href}}"
              integrity="{{style.integrity}}"
              crossorigin="{{style.crossorigin}}">
        {% endfor %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>    
</html>
    